AUTH_SECRET=replace-with-a-long-random-string
AUTH_GITHUB_ID=your_github_oauth_app_client_id
AUTH_GITHUB_SECRET=your_github_oauth_app_client_secret

# 只允许访问的 GitHub ID 多个用英文逗号分隔
AUTH_GITHUB_ALLOWED_IDS=your-github-id
